
html { 
  background: url(http://i.imgur.com/tzNwpyb.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}




@font-face {
    font-family: AharoniBold;
    src: url(mtdoubt/stylesheet/AharoniBold.tff);
    font-weight: bold;
}

div {
    font-family: AharoniBold;
}
