
html {
background: url(http://i.imgur.com/tzNwpyb.jpg) no-repeat center fixed;
background-size: cover;
background-origin: content-box;


}





@font-face {
    font-family: AharoniBold;
    src: url(mtdoubt/stylesheet/AharoniBold.tff);
    font-weight: bold;
}

div {
    font-family: AharoniBold;
}
