
html {
background: url(http://i.imgur.com/wsYa1jx.jpg) no-repeat center fixed;
background-size: cover;
background-position: absolute;
z-index: -1;


}

.responsive-video {
position: relative;
padding-bottom: 56.25%;
padding-top: 25px; 

}


.responsive-video iframe {
position: absolute;
top: 0;
left: 0;
width: 50%;
height: 50%;

}



#v {
	max-width: 560px;
	max-height: 315px;
	position: absolute;
	z-index: 10;
	overflow: hidden;
}

iframe {

    margin: 0;
    padding: 0;
    border: none;
    line-height: 0;
   
}



